@font-face {
    font-family: Inter-Regular;
    src: url(fonts/Inter-Regular.woff);
}
html, body {
    /* max-width: 940px; */
    height:auto!important;
 }
.caja{
    width: 100%;
}
.logos{
    width: 150px;
    /* float:inline-start; */
    position: relative;
    top: -20px; 
    margin-bottom: -30px;
    border-radius: 12px;
}
body{
    background-color: #D8DFE8;
    font-family: Inter-Regular;
}
main{
    clear: right;
}
.inputForm{
    display:inline-block;
    width: 47%;
    height: 92%;
    margin: 10px 20px 20px 10%;
}

.inputTexto{
    text-align: center;
    display: inline-block;
    color: darkblue;
    font-size: 32px;
    background-color: transparent;
    border-style: hidden;
    outline: none;
    width: 84%;
    /* padding-left: 35%; */
    text-align: center;
    resize: none;
    clear: right;

}
.botones{
    background-color: #D8DFE8;
    color: darkblue;
    border: 1px solid darkblue;
    transition-duration: 0.2s;

}
.botones:hover {
background-color: darkblue;
color: white;
}
.inputForm button{
    width: 48%;
    margin-left: 1%;
    padding: .7% 1%;
    border-radius: 9px;
    font-size: 16px;
    overflow: hidden;
    
}
.importante{
    color:#67808E;
}
.outputForm{
    display:inline-block;
    background-color: aliceblue;
    width: 300px;
    height: 400px;
    margin: 10px auto;
    border-radius: 15px;
    vertical-align: top;
    text-align: center;
}

.outputForm h3 {
    overflow-wrap: break-word;
}
#resultado{
    margin-top: 40px;
    padding: 5px;
    font-size: 22px;
    color: #00008b;
    font-weight: bold;
}
.outputTexto{

    color: darkblue;
    font-size: 32px;
    background-color: transparent;
    border-style: hidden;
    outline: none;
    font-family: Inter-Regular;
    width: 300px;
    resize: none;
    text-align: center;
  

    /* padding-left: 35%; */
 
}

.botonesOutput{
    width: 300px;
    padding: 3% 2%;
    font-family: Inter-Regular;
    border-radius: 9px;
    margin-top: 20%;


}
#botonCopiar{
    visibility:hidden;    

}
footer{
    background-color: #00008b;
    width: 100%;
    height: 120px;
}
.linked-gif{
    width: 32px;
}

.caja2{
    text-align: center;
    padding: 30px;
    margin: 40px auto 0;
}